:root {
  --main-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --white-bg: #ffffff;
  --dark-bg: rgba(47, 48, 58, 1);
}
body {
  color: rgba(33, 33, 33, 1);
  font-family: "Roboto", sans-serif;
}
/* Хеддер */
header {
  background-color: rgba(236, 236, 236, 1);
}
header a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
.current {
  color: var(--accent-color);
}
/* Лого */
.logo-head {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.contacts-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.logo-accent,
.nav-item:hover,
.nav-item:focus,
.contacts-item:hover,
.contacts-item:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
/* Главная секция */
.main-section {
  background-color: var(--dark-bg);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}
/* Наши преимущества */
.benefits-section,
.doing-section {
  background-color: #e5e5e5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.benefits-section p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* Чем мы занимаемся */
.doing-section {
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/* Наша команда */
.command-section {
  background-color: rgba(245, 244, 250, 1);
}
.command-section h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  columns: var(--main-color);
}
.command-section p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.command-item {
  background-color: var(--white-bg);
  width: 270px;
}
/* Футер */
footer {
  background-color: var(--dark-bg);
}
.logo-foot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
footer a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* Портфолио */
.portfolio-button {
  cursor: pointer;
}
.portfolio-section {
  background-color: #e5e5e5;
}
.portfolio-section h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-item {
  background-color: var(--white-bg);
  width: 370px;
}
